# Dependencies
node_modules

# Build outputs
dist
dist-electron
*.local

# Editor directories
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# Environment
.env
.env.local
.env.*.local

# OS
Thumbs.db

_BACKUP
_DEVELOPMENT
.claude
.continue
chat-archives
